<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header') %>
  <body>
    <div class="container">
      <%- include('../partials/backgroundleft') %>

      <div class="middle-div">
        <%-include('../partials/navbar') %>
        <div class="profile-header">
          <div class="model-div">
            <img
              class="model"
              src="<%=avenger.model%>"
              onerror="if (this.src != '/images/No-Image.png') this.src = '/images/No-Image.png';"
            />
          </div>
          <div class="identity-div">
            <div class="identity-pic">
              <img
                class="photo"
                src="<%=avenger.photo%>"
                onerror="if (this.src != '/images/No-Image.png') this.src = '/images/No-Image.png';"
              />
              <a class="update-profile" href="/avengers/<%=avenger._id%>/edit"
                >Update Profile</a
              >
              <a class="update-profile" href="/avengers"
                >Back to Avengers Roster</a
              >
            </div>
            <div class="identity-names">
              <h2>Alias: <span class="span-name"><%=avenger.alias%></span></h2>
              <h2>
                Identity: <span class="span-name"><%=avenger.identity%></span>
              </h2>
              <div class="description">
                <h2>Description:</h2>
                <p><%= avenger.description%></p>
              </div>
              <div class="abilities">
                <h2>Abilities:</h2>
                <ul class="ul-abilities">
                  <% for (let i=0; i< avenger.abilities.length; i++) { %>
                  <li><%=avenger.abilities[i]%></li>
                  <% }; %>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="mission">
          <h2>Missions Assigned</h2>
          <ul class="missionlist">
            <% missions.forEach( function (mission) { %>
            <li>
              <a href="/missions/<%=mission._id%>"><%=mission.operation%></a>
            </li>

            <% }) %>
          </ul>
        </div>
      </div>

      <%- include('../partials/backgroundright') %>
    </div>
  </body>
</html>
