<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header') %>
  <body>
    <div class="container">
      <%- include('../partials/navbar') %>
      <h1>Mission Dispatch</h1>
      <form
        id="mission-edit"
        action="/missions/<%=mission._id%>?_method=PUT"
        method="POST"
      >
        <label>Operation Name: </label>
        <input
          type="text"
          name="operation"
          value="<%=mission.operation%>"
        /><br />
        <label>Objective</label>
        <input
          type="text"
          name="objective"
          value="<%=mission.objective%>"
        /><br />
        <label>Supervillains</label>
        <input
          type="text"
          name="objective"
          value="<%=mission.supervillains%>"
        /><br />
        <label>Location</label>
        <input
          type="text"
          name="location"
          value="<%=mission.location%>"
        /><br />
        <label>Available Avengers: </label>
        <label>Team: </label> <br />
        <button type="submit">Update Mission</button>
        <a href="/missions/<%=mission._id%>">
          <button>Back To Mision Briefing</button>
        </a>
      </form>
    </div>
  </body>
</html>
