<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header') %>
  <body>
    <div class="container">
      <%- include('../partials/navbar') %>
      <h1>Mission Briefing</h1>
      <a href="/missions/<%= mission._id %>/edit">
        <button>Update Mission</button>
      </a>

      <h2>Operation: <span><%= mission.operation%></span></h2>
      <br />
      <h2>Objective: <span><%= mission.objective%></span></h2>
      <br />
      <h2>Location: <span><%= mission.location%></span></h2>
      <br />
      <br />
      <h2>Available Avengers</h2>

      <div class="available-avengers">
        <!--adding avengers to cast-->
        <form
          id="add-avenger-to-mission"
          action="/missions/<%=mission._id%>/avengers"
          method="POST"
        >
          <select name="avengerId">
            <%- avengers.map (a => `
            <option value="${a._id}">${a.alias}</option>
            `).join('') %>
          </select>
          <button type="submit">Assign Avenger</button>
        </form>
      </div>
      <h2>Current Team</h2>

      <div class="current-team">
        <% mission.team.forEach(function (member) { %>
        <form
          id="remove-avenger-from-mission"
          action="/missions/<%=mission._id%>/avengers/<%=member._id%>?_method=DELETE"
          method="POST"
        >
          <input
            type="image"
            class="delete-icon"
            alt="submit"
            src="<%=member.icon%>"
          />
        </form>

        <% }); %>
      </div>
    </div>
  </body>
</html>
