<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header') %>
  <body>
    <div class="container">
      <%- include('../partials/navbar') %>
      <h1>Mission Briefing</h1>
      <h2>Operation: <span><%= mission.operation%></span></h2>
      <br />
      <h2>Objective: <span><%= mission.objective%></span></h2>
      <br />
      <h2>Location: <span><%= mission.location%></span></h2>
      <br />
      <br />
      <h2>Available Avengers:</h2>
    </div>
  </body>
</html>
