<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header') %>
  <body>
    <div class="container">
      <div class="all-content">
        <%- include('../partials/backgroundleft') %>
        <div class="middle-div">
          <%- include('../partials/navbar') %>
          <div class="middle-background">
            <div class="avengers-application">
              <div class="mission-header">
                <div class="mission-header-left">
                  <h1>Mission Briefing</h1>
                  <br />

                  <h3 class="mission-show">Operation:</h3>
                  <h2 class="mission-show"><%= mission.operation%></h2>
                  <h3 class="mission-show">Location:</h3>
                  <h2 class="mission-show"><%= mission.location%></h2>
                  <h3 class="mission-show">Supervillains:</h3>
                  <h2 class="mission-show"><%= mission.supervillains%></h2>
                </div>
                <div class="mission-header-right">
                  <img id="mission-icon" src="/images/avengers_icon.jpg" />
                  <div class="buttons-wrapper">
                    <a
                      id="edit-mission"
                      href="/missions/<%= mission._id %>/edit"
                    >
                      <button>Edit Mission</button>
                    </a>

                    <form
                      id="deletemission"
                      action="/missions/<%=mission._id%>/delete"
                      method="POST"
                    >
                      <button type="submit">Cancel Mission</button>
                    </form>
                  </div>
                </div>
              </div>
              <div class="mission-content">
                <div class="mission-objective">
                  <h3 class="mission-show">Objective:</h3>
                  <h2 id="mission-show-id"><%= mission.objective%></h2>
                </div>
                <h2 class="icon-teams">Available Avengers</h2>
                <div class="available-avengers">
                  <!--adding avengers to cast-->
                  <% avengers.forEach(function (member) { %>
                  <form
                    id="add-avenger-to-mission"
                    action="/missions/<%=mission._id%>/avengers/<%=member._id%>"
                    method="POST"
                  >
                    <input
                      type="image"
                      class="add-delete-icon"
                      alt="submit"
                      src="<%=member.icon%>"
                    />
                  </form>

                  <% }); %>
                </div>
                <h2 class="icon-teams">Current Team</h2>

                <div class="current-team">
                  <% mission.team.forEach(function (member) { %>
                  <form
                    id="remove-avenger-from-mission"
                    action="/missions/<%=mission._id%>/avengers/<%=member._id%>?_method=DELETE"
                    method="POST"
                  >
                    <input
                      type="image"
                      class="add-delete-icon"
                      alt="submit"
                      src="<%=member.icon%>"
                    />
                  </form>

                  <% }); %>
                </div>
                <a href="/missions">Back to Mission Board</a>
              </div>
            </div>
          </div>
        </div>
        <%- include('../partials/backgroundright') %>
      </div>
    </div>
  </body>
</html>
